# Data Science Tools and Ecosystem

# In this Course Data Science Tools and Ecosystem are summariezd

# Objectives:

- List popular Languages in Data Science
- List commonly used libraries in Data Sience 
- List Data science open source development tools
- Introduce arithmetic expressions in python  
- Example of using arithmetic expressions

## Some of the Popular Data Science Langauges are:
- Python
- R
- Julia
- SQL

##  Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Panda
* SciPy
* Seaborn
* Metaplot

| Data Science Tools |
| ------ |
| Jupyter Notebooks |
| RStudios |
| Zeppelin Notebooks |

 ### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print (hours)

3.3333333333333335

## Author
Ahmed Reda Elseddik